@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300;400;500;700&display=swap');


html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.partone {
  background-image: url(./assets/1e08655784e49b261b08f4765a1190d10498dc29.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  padding: 2rem;

}
header {
  display: flex;
  justify-content: space-around;
   align-items: center;
}
.logo img {
  width: 15rem;
  height: 4rem;
}
.contents {
  width: 50%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-family: 'Roboto', sans-serif;
   
}
/* .contactbutton butto */
button {
  background-color: #fcd901;
  width: 9rem;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  /* font-weight: 400; */

}

.parttwo{
  background-image: url(./assets/35f7e36b6467cb4f9d21e182cab49e7e284b41b4.png);
background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
      width: 100%;
    height: 100vh;
  
}
.heading{
  padding-top: 1rem;
}
.heading h2 {
  color: white;
  font-size: 3rem;
font-family: 'Anton', sans-serif;
   font-weight: 400;
}
.heading h1 {
  color: #d8a400;
  font-size: 4rem;
  font-family: 'Anton', sans-serif;
   font-weight: 400;
}
.heading p {
  color: white;
}
/* <!-- session 2 --> */
.parttwo {
  /* background-image: url(./assets/35f7e36b6467cb4f9d21e182cab49e7e284b41b4.png); */
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000000;
}
.twocontent{
  margin-left: 30rem;
}
.parttwo p {
  color: white;
  
}
.parttwo h1 {
  color: #fcd901;
  font-family: 'Anton', sans-serif;
  font-size: 2.5rem;
   font-weight: 400;
}
.parttwo img {
  width: 35%;
  height: 20rem;
}
.parttwo button {
  margin-top: 1rem;
  background-color: #fcd901;
  width: 20rem;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.hamburger {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  display: none;
}
#nav-menu {
  transition: all 0.3s ease-in-out;
}

.mobile-active {
  display: flex !important;
  flex-direction: column;
  gap: 1rem;
  background: rgba(0, 0, 0, 0.8);
  padding: 1.5rem;
  position: absolute;
  top: 5rem;
  right: 1rem;
  border-radius: 10px;
}

/* -------------------------------------- */
/* mobile */
@media (max-width: 768px) {
    .contents{
    display: none;
  }
  .contactbutton{
      display: none;
  }
   .hamburger {
    display: block;
  }
  .logo img {
  width:8rem;
  height: 2rem;
  
}
header {
  display: flex;
  justify-content: space-between;
}
.heading h2 {
  font-size: 2.2rem;
  
}
.heading h1 {
  font-size: 2.5rem;
}
.heading p {
  font-size: .9rem;
  text-align: justify;
  padding:0 3rem;
  text-align: center;
}
.parttwo p {
font-size: .8rem;
}
.parttwo h1 {
  font-size: 1.4rem;
}

.parttwo button {
  font-size: .8rem;
    width: 13rem;
}
.twocontent{
  margin-left: 15rem;
}
/* -------------------------------------- */


@media (max-width:576px) {
  .contents{
    display: none;
  }
  .contactbutton{
      display: none;
  }
  .hamburger {
    display: block;
  }
  .logo img {
  width:7rem;
  height: 2rem;
  
}
header {
  display: flex;
  justify-content: space-between;
}
.heading h2 {
  font-size: 2rem;
  
}
.heading h1 {
  font-size: 2.5rem;
}
.heading p {
  font-size: .9rem;
  text-align: justify;
  padding:0 3rem;
}
.parttwo p {
font-size: .6rem;
}
.parttwo h1 {
  font-size: 1.4rem;
}

.parttwo button {
  font-size: .6rem;
    width: 10rem;
}
.twocontent{
  margin-left: 6rem;
}
}


}

